<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    <p>Splurty was built as an assignment for the <a target-"blank" href="http://www.thefirehoseproject.com/">Firehose Project</a> Software Engineering Bootcamp</p>
</div>

<div class="row">
  <div class="col-12 col-sm-1">
  </div>
  <div class="col-12 col-sm-10">
    <%= image_tag 'screen.png', class: 'img-fluid' %>
  </div>
  <div class="col-12 col-sm-1">
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
